@model IEnumerable<ITUniver.TeleCalc.Web.Models.OperationHistory>

@{
    ViewBag.Title = "OperationHistory";
}

<h2>OperationHistory</h2>

@foreach (var item in Model)
{
    @Html.Partial("HistoryItem", item)
}
