@model IEnumerable<double>
@{
    var data = new List<double>();
    if (!Model.Any())
    {
        data.Add(0);
    }
    else
    {
        data.AddRange(Model);
    }
}


@foreach (var item in data)
{
    <div style="width:90px;display:inline-block;">
        @Html.EditorFor(c => item, "double", "")
    </div>
        }


